%h1 Pages#contact
%p Find me in app/views/pages/contact.html.haml

.container.text-center.contact-us--form
  %h1 Pages#contact
  %p Find me in app/views/pages/contact.html.haml
  %h3.heading-style-1.text-center.text-uppercase.text-weight-normal
    Contact Us
  = form_with model: @feedback, class: 'contact-us-page--form' do |f|

    .form-group
      = notice
      = @feedback.errors.full_messages.join(', ')

    .form-group
      = f.text_field :full_name, placeholder: 'Full Name'

    .form-group
      = f.email_field :email, placeholder: 'email@somewhere.com', required: true

    .form-group
      = f.label :topic, 'Topic', :class => "control-label"
      = f.select(:topic, options_for_select([['I have some feedback...','feedback'],['I have a question...', 'question'],['I have a feature request...','feature'],['I’d like to report a bug...','bug'],['Other','other']],1))

    .form-group
      = f.text_area :comment, placeholder: 'What is on your mind?', required: true

    .form-group
      = f.submit :submit, :class => "btn btn-success"



