!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= (t :sitename)
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container#page-top
      - unless Rails.env.production?
        .corner-ribbon.top-right.sticky.red.shadow= link_to('Work in Progress', project_status_path)

      = render 'layouts/header'

      .content#content{:class => controller.controller_name}
        = yield

      = debug(params) if Rails.env.development?

      = render 'layouts/footer'
