= form_with model: @feedback, local: true, class: 'feedback-form w-full max-w-2xl mx-auto' do |f|
  .flex.flex-col.-mx-3.mb-6
    .w-full.px-3.mb-6

      %label{:for => "grid-full-name"}
        Your Name
      = f.text_field :full_name, placeholder: 'Full Name', class: "form-input feedback-name"
    .w-full.px-3.mb-6

      %label{:for => "grid-full-name"}
        Your Email
      = f.text_field :email, placeholder: 'username@email_provider.com', class: "form-input feedback-email"

    .px-3
      %label{:for => "grid-topic"}
        Topic
      = f.select( :topic,    options_for_select([['I have some feedback...','feedback'],['I have a question...', 'question'],['I have a feature request...','feature'],['I’d like to report a bug...','bug'],['Other','other']],1), { },  {:class => 'form-select'})

  .flex.flex-wrap
    %label{:for => "grid-message"}
      Message
    = f.text_area :comment, placeholder: 'What is on your mind?', required: true, class: "form-textarea feedback-message"
  .flex.justify-end
    = f.submit :submit, :class => "feedback-submit"
